<h1><%= @cocktail.name %></h1>
<div>
  <h3><% @cocktail.doses.each do |dose| %></h3>
  <%= cl_image_tag dose.cocktail.photo, height: 300, width: 400, crop: :fill %>
  <p><%= dose.description %>
    <%= dose.ingredient.name %>
  </p>
  <%= link_to 'Delete an ingredient', dose_path(dose), :method => :delete %>
  <% end %>
</div>


<%= link_to 'Add an ingredient',new_cocktail_dose_path(@cocktail) %>
<br>
<%= link_to 'Back', cocktails_path %>
